# byte compiled
__pycache__/


# data
transformed_data_source.csv
data_processed.csv
topic_model_to_Shiny_app/Files/*
topic_model_to_Shiny_app/model/*
.ipynb_checkpoints
/*.egg-info
build/*
dist/*

# processed data files
*.pkl
*.gensim
*.ipynb
*.mm
*.mm.index

#exceptions

!topic_model_to_Shiny_app/Files/.gitkeep
!topic_model_to_Shiny_app/model/.gitkeep

# coverage
.coverage
htmlcov/*
coverage.xml

# R stuff
.Rhistory
.Rhistory
packrat/lib*/
packrat/src*/
.Rproj.user

# small test file for local use
.vagrant/*
short_test.py
